.slidingBlocks {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-position: center;
}

.slidingBlockItem {
    h2 {
        font-size: 1.75rem;
        line-height: 2.125rem;
    }
}