@keyframes changeGradientAnimation {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

.button {
    background: var(--gradient-00);
    color: var(--colour-white-00);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
    letter-spacing: 0;
    position: relative;
    overflow: hidden;
    background-size: 200%;
    border: none;
    min-width: 170px;
    &:hover {
        animation: changeGradientAnimation 2s linear infinite;
    }
}