.aboutContainer {
    background-color: var(--colour-white-01);
    background-image: url('/bg-1.png');
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    color: var(--colour-blue-02);
    // padding: 3rem 0 0;
    flex: 1;
    // @media (min-width: 768px) {
    //     padding: 10rem 0 0;
    // }
}