:root {
  --background: #0F0D42;

  --colour-white-00: #ffffff;
  --colour-black-00: #050420;
  --colour-blue-00: #08F3F9;
  --colour-blue-01: #008BFF;
  --colour-blue-02: #0C0B2E;
  --colour-blue-03: #1F1D5B;
  
  --gradient-00: linear-gradient(266.81deg, #3B37E4 0%, #1EA2F0 50%, #3B37E4 100%);
  
  --font-size-p: 1rem;
  --font-size-h1: 3.875rem;
  --font-size-h1-mobile: 2.1rem;
  --font-size-h2: 0.75rem;
  --font-size-h2-mobile: 0.65rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--colour-white-00);
  background: var(--background);
  font-family: var(--font-inter);
  font-size: var(--font-size-p);
  letter-spacing: 0.063rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

@media (max-width: 767px) {
  body {
    letter-spacing: 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 3.875rem;
  letter-spacing: 0.03125rem;
  margin-bottom: 1.5rem;
  font-family: var(--font-duru-sans);
  @media (max-width: 767px) {
    font-size: var(--font-size-h1-mobile);
    line-height: 2.6rem;
  }
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  font-family: var(--font-duru-sans);
  @media (max-width: 767px) {
    font-size: var(--font-size-h2-mobile);
  }
}

p {
  font-size: var(--font-size-p);
}

small {
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.lazy__item {
  opacity: 0;
  transform: translateY(40px);
}

.split__text {
  overflow: hidden;
}
.split-parent {
  overflow: hidden;
}
.split-child {
  display: inline-block;
}