.footerContainerWrapper {
    background-color: var(--colour-blue-02);
    display: inline-block;
    width: 100%;
}

.footerBottom {
    background-color: var(--colour-black-00);
    display: inline-block;
    width: 100%;
}